* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e202a;
  color: white;
}

@media screen and (max-width: 414px) {
  body {
    align-items: initial;
    padding-top: 2em;
  }
}

ol,
ul {
  padding-left: 30px;
}

button {
  cursor: pointer;
}

#root {
  width: 310px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #1e202a;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: hsl(228, 34%, 66%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-info button {
  border-style: none;
  border-radius: 5px;
  outline: none;
  background-color: #252a41;
  color: hsl(228, 34%, 66%);
  padding: 8px;
}

.game-info__toggle-btn {
  margin-top: 8px;
}

.game-info__moves {
  display: block;
}

.game-info__moves li {
  padding: 4px;
}

.game-info__moves.--reverse {
  display: flex;
  flex-direction: column-reverse;
}

.--highlight {
  background-color: white;
}

.game-info .--active {
  color: white;
}
